<a data-ng-href="{{getAccountProofUrl(account)}}" data-toggle="tooltip"
              title="{{webAccountTypes[account.service].label}}" target="_blank">
  <span class="fa-lg">
    <i class="fa fa-fw {{webAccountTypes[account.service].iconClass}}"></i>
  </span>
  <span class="app-account-identifier">{{getIdentifierString(account.service, account.identifier)}}</span>
  <span class="app-account-service">{{getServiceString(account.service)}}</span>
  <span class="fa-lg float-right verification-status">
  	<i class="fa fa-check-circle" data-ng-hide="!verifications[account.service].valid"}></i>
  	<span data-ng-if="shouldVerify(account.service)">
  		<span data-ng-hide="verifications[account.service].valid" class="badge badge-unverified">
  			Unverified
  		</span>
  	</span>
  </span>
</a>
