<div>
  <div class="container-fluid pro-wrap m-t-50">
    <div class="col-sm-4">
      <div class="pro-container col-sm-12"><div class="pro-avatar m-b-20">
        <img ng-src="{{person.avatarUrl()}}" class="img-circle"></div>
        <div class="">
          <h1 class="pro-card-name">{{person.name()}}</h1>
          <div class="pro-card-body">{{person.description()}}</div>
        <div class="pro-card-body">{{person.address()}}</div>
      </div>
      <div>
        <!-- <button class="btn btn-sm btn-secondary m-t-10">Add Friend</button> -->
      </div>
    </div>
    <div class="container"></div>
  </div>
  <div class="col-sm-8 pull-right profile-right-col-fill">
    <div class="profile-right-col inverse">
      <ul>
        <li ng-repeat="account in person.profile().account">
          <div data-ng-include src="'views/names/account.html'"></div>
        </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
