<div>
  <div class="container-fluid pro-wrap m-t-50">
    <div class="col-sm-4">
      <div class="pro-container col-sm-12"><div class="pro-avatar m-b-20">
        <img src="https://s3.amazonaws.com/kd4/larry" class="img-circle"></div>
        <div class="">
          <h1 class="pro-card-name">Larry Salibra</h1>
          <div class="pro-card-body">Blockchain, software, security. Decentralize the world (w/
        #bitcoin)! 識中文</div>
        <div class="pro-card-body">Hong Kong</div>
      </div>
      <div>
        <button class="btn btn-sm btn-secondary m-t-10">Add Friend</button>
      </div>
    </div>
    <div class="container"></div>
  </div>
  <div class="col-sm-8 pull-right profile-right-col-fill">
    <div class="profile-right-col inverse">
      <h3>{{nameRecord.domainName}}</h3>
      <ul>
        <li>
          <a href="https://twitter.com/larrysalibra" data-toggle="tooltip" title="Twitter">
            <span class="fa-stack fa-lg">
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
            <span class="app-account-identifier">larrysalibra</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/larrysalibra" data-toggle="tooltip" title="GitHub">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-github-alt fa-stack-1x"></i>
                </span>
                <span class="app-account-identifier">larrysalibra</span>
              </a>
            </li>
            <li>
              <a href="https://explorer.blockstack.org/address/1EyuZ8qxdhHjcnTChwQLyQaN3cmdK55DkH"
                    data-toggle="tooltip" title="Bitcoin">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-bitcoin fa-stack-1x"></i>
                    </span>
                    <span class="app-account-identifier">1EyuZ8qxdhHjcnT...</span>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" title="PGP"><span class="fa-stack fa-lg">
                <i class="fa fa-key fa-stack-1x"></i>
              </span>
              <span class="app-account-identifier">B516CB7A08819697B25E4694DE3B5425164C4849</span>
              </a>
            </li>
            <li>
              <a href="https://facebook.com/larry.salibra" data-toggle="tooltip"
                            title="Facebook">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-certificate fa-stack-2x fa-green"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
                <span class="app-account-identifier">larry.salibra</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
