<div class="row" data-ng-hide="!nameop">
  <div class="col-xs-6">
    <a class="btn-expand" title="Show/Hide items details" data-ng-click="itemsExpanded = !itemsExpanded">
      <span class="glyphicon glyphicon-plus-sign" data-ng-class="{'glyphicon-minus-sign': itemsExpanded}"></span>
    </a>

    <a href="nameops/{{nameop.blockHeight}}" class="history-item history-item-default">Block #{{nameop.blockHeight}}</a>
  </div>
  <div class="col-xs-6 text-right">
      <a href="tx/{{nameop.txid}}" class="history-item history-item-default">{{nameop.opcode}}</a>
  </div>
</div>


<div class="row" data-ng-hide="!itemsExpanded">
  <div class="name-history">
    <dl class="dl-horizontal" ng-repeat="(key, value) in nameop">
      <dt>
        {{key}}
      </dt>
      <dd>
        <code>{{value}}</code>
      </dd>
    </div>
  </div>
</div>
