{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@components": "./components",
          "@containers": "./containers",
          "@stores": "./stores",
          "@pages": "./pages",
          "@common": "./common",
          "@utils": "./utils",
          "@client": "./lib/client",
          "@styled": "./styled"
        }
      }
    ]
  ]
}