{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "babel",
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowTaggedTemplates": true
      }
    ],
    "no-underscore-dangle": [
      0
    ],
    "import/prefer-default-export": [0]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "gtag": true
  }
}