<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="NamesController" data-ng-init="listNamesInNamespace()">
  <div class="secondary_navbar hidden-xs hidden-sm" scroll data-ng-class="{'hidden': !secondaryNavbar}" data-ng-show="numberOfNames && namespaceId" data-ng-init="hideSNavbar=0">
    <div class="container" data-ng-if="!hideSNavbar">
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-5">
              <h3 class="text-left"><span translate>Names:</span> <a href="namespace/{{namespaceId}}">.{{namespaceId}}</a> <span translate>namespace</span></h3>
            </div>
            <p class="col-md-6 ellipsis text-left">
                {{numberOfNames}} <span translate>names</span></a>
            </p>
            <div class="col-md-1 text-left">
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div> <!-- END OF CONTAINER -->
    <div class="hide_snavbar">
      <a href="#" data-ng-click="hideSNavbar=!hideSNavbar">
        <span data-ng-show="hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-down"></span></span>
        <span data-ng-show="!hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-up"></span></span>
      </a>
    </div>
  </div>
  <h1 data-ng-show="numberOfNames && namespaceId"><span translate>Names:</span> <a href="namespace/{{namespaceId}}">.{{namespaceId}}</a> <span translate>namespace</span>
  <small>{{numberOfNames}} <span translate>names</span></small></h1>
  <span data-ng-repeat="namespace in namespaces">
    <a href="names/{{namespace.id}}" class="btn btn-primary btn-lg" data-ng-class="{active: namespace.id == namespaceId}"><span>.{{namespace.id}}</span></a>
  </span>
  <div data-ng-include src="'views/names/list.html'" when-scrolled="loadMore()"></div>
</section>
