<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="NameopsController" data-ng-init="findThis()">
  <div class="secondary_navbar hidden-xs hidden-sm" scroll data-ng-class="{'hidden': !secondaryNavbar}" data-ng-show="nameops" data-ng-init="hideSNavbar=0">
    <div class="container" data-ng-if="!hideSNavbar">
      <div class="col-md-6 col-lg-7 text-left">
          <h3 translate>Name Operations</h3>
          <div class="ellipsis">
            <small>{{blockHeight}}</small>
            <span class="btn-copy" clip-copy="{{blockHeight}}"></span>
          </div>
      </div>
    </div>
  </div>
  <h2 translate>Block #{{blockHeight}} - {{nameops.length}} Name Operations</h2>
  <div class="row">
    <div class="col-md-6">
      <table class="table" style="table-layout: fixed">
        <tbody>
        <tr>
          <td><strong translate>Name Preorders</strong></td>
          <td class="text-right text-muted">{{stats.name_preorders}}</td>
        </tr>
        <tr>
          <td><strong translate>Name Registrations</strong></td>
          <td class="text-right text-muted">{{stats.name_registrations}}
            <span class="text-success"></span>
          </td>
        </tr>
        <tr>
          <td><strong translate>Name Updates</strong></td>
          <td class="text-right text-muted">{{stats.name_updates}}
        </tr>
        <tr>
          <td><strong translate>Name Transfers</strong></td>
          <td class="text-right text-muted">{{stats.name_transfers}}</td>
        </tr>
        <tr data-ng-show="block.previousblockhash">
          <td><strong translate>Previous Block</strong></td>
          <td class="text-right"><a href="block/{{block.previousblockhash}}">{{block.height-1}}</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tbody>
        <tr>
          <td><strong>Name Revocations</strong></td>
          <td class="text-right text-muted">{{stats.name_revokes}}</td>
        </tr>
        <tr>
          <td> <strong translate>Name Imports</strong></td>
          <td class="text-right text-muted">{{stats.name_imports}}</td>
        </tr>
        <tr>
          <td> <strong translate>Namespace Preorders</strong></td>
          <td class="text-right text-muted">{{stats.namespace_preorders}}</td>
        </tr>
        <tr>
          <td> <strong translate>Namespace Reveals</strong></td>
          <td class="text-right text-muted">{{stats.namespace_reveals}}</td>
        </tr>
        <tr data-ng-if="block.height">
          <td> <strong translate>Number of Name Operations</strong></td>
          <td class="text-right"><a href="nameops/{{block.height}}">{{nameops.length}}</a></td>
        </tr>
        <tr data-ng-show="block.nextblockhash">
          <td><strong translate>Next Block</strong></td>
          <td class="text-right"><a href="block/{{block.nextblockhash}}">{{block.height+1}}</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <h2 translate>Data</h2>
    <div class="block-tx" data-ng-if="nameops.length > 0">
      <div data-ng-repeat="nameop in nameops" class="row line-mid">
        {{nameop}}
      </div>
    </div>
  </div>
</section>
