<div class="container" data-ng-controller="FooterController">
  <div class="links m20t pull-left">
    <span class="languages" ng-show="availableLanguages.0">
      [
      <a href="#"
        ng-click="setLanguage(l.isoCode)"
        ng-class="{'selected': defaultLanguage == l.isoCode}"
        ng-repeat="l in availableLanguages">
        <span ng-show="!$first"> &middot; </span> {{l.name}}
      </a>
      ]
    </span>
    &nbsp;
    <span class="languages" data-ng-include="'views/includes/currency.html'"></span>
    &nbsp;
    [
    <a href="messages/verify" translate>verify message</a>
    <span> &middot; </span>
    <a href="tx/send" translate>broadcast transaction</a>
    ]

  </div>
  <a class="m10v pull-right" target="_blank" href="https://blockstack.org"><img src="img/blockstack.svg"></a>
</div>
