<div class="container" data-ng-controller="FooterController">
  <div class="col-md-6">
    <div class="links m20t pull-left">
      <span class="languages" ng-show="availableLanguages.0">
        [
        <a href="#"
          ng-click="setLanguage(l.isoCode)"
          ng-class="{'selected': defaultLanguage == l.isoCode}"
          ng-repeat="l in availableLanguages">
          <span ng-show="!$first"> &middot; </span> {{l.name}}
        </a>
        ]
      </span>
      &nbsp;
      <span class="languages" data-ng-include="'views/includes/currency.html'"></span>
      &nbsp;
      [
      <a href="messages/verify" translate>verify message</a>
      <span> &middot; </span>
      <a href="tx/send" translate>broadcast transaction</a>
      ]

    </div>
  </div>
  <div class="col-md-4">
    <div class="status" data-ng-controller="StatusController">
      <div data-ng-init="getSync()" class="pull-left">
        <span class="t text-danger"  data-ng-show="sync.error" tooltip="{{sync.error}}" tooltip-placement="bottom">
            <span  class="glyphicon glyphicon-warning-sign"></span>
            ERROR
        </span>
        <span class="t" tooltip="{{sync.syncedBlocks}} / {{sync.blockChainHeight}} synced. {{sync.skippedBlocks || 0}} skipped" tooltip-placement="bottom" data-ng-show="sync.status==='syncing'">
          <span  class="glyphicon glyphicon-refresh icon-rotate"></span>
          {{sync.syncPercentage}}%
        </span>
        <span class="glyphicon glyphicon-ok" tooltip="Historic sync finished" tooltip-placement="bottom" data-ng-show="sync.status==='finished'"> </span>
        &nbsp; &middot; &nbsp;
        <strong  data-ng-init="getStatus('Info')">{{'Bitcore'|translate}}</strong> {{totalBlocks || info.blocks}}
        &nbsp; &middot; &nbsp;
        <span data-ng-controller="NodeInfoController" data-ng-init="getInfo()">
          <strong>{{'Seen'|translate}}</strong> {{nodeInfo.last_block_seen}}
          &nbsp; &middot; &nbsp;
          <strong>{{'Processed'|translate}}</strong> {{nodeInfo.last_block_processed}}
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <a class="m10v pull-right" target="_blank" href="https://blockstack.org"><img src="img/blockstack.svg"></a>
  </div>
</div>
